///!Base @Font-face constructor, font files needed, ttf, woff and woff2.
@mixin import-font-face($fontFamily, $fileName, $fontWeight, $path){
    @font-face {
        font-display: swap;
        font-family: '#{$fontFamily}';
        font-style: normal;
        font-weight: #{$fontWeight};
        src: url('#{$path}/#{$fileName}.woff2') format('woff2'),
            url('#{$path}/#{$fileName}.woff') format('woff'),
            url('#{$path}/#{$fileName}.ttf') format('truetype');
    }
}

///!Truncates text at a specific number of lines
@mixin line-clamp($numlines){
    &{
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp:$numlines;  
        overflow: hidden;
    }
}

///!Centers an element vertically and horizontally using absolute positioning
@mixin absolute-center(){
    &{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

///!Changes the color of the placeholder element using the ::placeholder pseudo-element
@mixin placeholder($phr) {
    &::-webkit-input-placeholder { color: $phr; }
    &:-moz-placeholder { color: $phr; }
    &::-moz-placeholder { color: $phr; }
    &:-ms-input-placeholder { color: $phr; }
}
