///----------------------------------------------------------------------------
/// Typography - Font Weights																
///----------------------------------------------------------------------------

$font-weights:
'light' 300,
'regular' 400,
'semibold' 600,
'bold' 700,
'black' 900;

///----------------------------------------------------------------------------
/// Typography - Font Sizes																
///----------------------------------------------------------------------------

$font-sizes:
'display' rem(54),
'h1' rem(32),
'h2' rem(28),
'h3' rem(26),
'h4' rem(22),
'h5' rem(20),
'h6' rem(18),
'base' rem(16),
's' rem(14),
'xs' rem(12);

///----------------------------------------------------------------------------
/// Typography - Alignment Types																
///----------------------------------------------------------------------------

$text-alignments:
'left' 'left',
'center' 'center',
'right' 'right',
'justify' 'justify';