///----------------------------------------------------------------------------
/// Typography - Font Weights																
///----------------------------------------------------------------------------

$font-weights:
'light' 300,
'regular' 400,
'semibold' 600,
'bold' 700,
'black' 900;

///----------------------------------------------------------------------------
/// Typography - Font Sizes																
///----------------------------------------------------------------------------

$font-sizes:
'display' rem(54px),
'h1' rem(32px),
'h2' rem(28px),
'h3' rem(26px),
'h4' rem(22px),
'h5' rem(20px),
'h6' rem(18px),
'base' rem(16px),
's' rem(14px),
'xs' rem(12px);

///----------------------------------------------------------------------------
/// Typography - Alignment Types																
///----------------------------------------------------------------------------

$text-alignments:
'left' 'left',
'center' 'center',
'right' 'right',
'justify' 'justify';